################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interface/MySql
/x64/Debug
/PandoraStrategy/x64/Debug
/.vs/PandoraTrader
/PandoraTrade/x64/Debug
/.vs
/PandoraTrade/his2025.db
/PandoraTrade/system.db
/PandoraTrade/tmp.db
