################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interface/MySql
/.vs/PandoraTrader/v17/Browse.VC.opendb
/.vs/PandoraTrader/FileContentIndex/7a2be43e-b3bb-4332-b842-d201f98c5655.vsidx
