################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interface/MySql
/x64/Debug
/PandoraTrade/x64/Debug
/PandoraStrategy/x64/Debug
/.vs/PandoraTrader
/.vs
/out/build/x64-Debug
